<div class="mb-2">
    <label for="first_name" class="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" value="{{this.first_name}}">
</div>
<div class="mb-2">
    <label for="last_name" class="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{this.last_name}}">
</div>
<div class="mb-2">
    <label for="email" class="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{this.email}}">
</div>
<div class="mb-2">
    <label for="phone" class="phone">Phone</label>
    <input type="phone" class="form-control" id="phone" name="phone" value="{{this.phone}}">
</div>

